body{
    padding:0;
    margin:0;
    font-size:2vw;
    color:rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    
}

/* Header */
header{
    
    background-image: url(architecture-1853552_1920.png);
    background-size:cover;
    background-position: center center;
    background-repeat:no-repeat;
    height: 50vw;
}
/* Navitatie */
nav{
    position: relative;
    height:15%;
}
.logo{
    max-height:100%;
}
#nav{
    position: fixed;
    right:25px;
    top: 5px;
}
#nav li{
    display:inline-block;
    margin-right:25px;
}

/* info section */
header .flex-container{
    display: flex;
    justify-content: center;
    margin-top:5%;
    flex-wrap:wrap;
}

.image_overlay{
    background:rgba(0, 0, 0, 0.25);
    height: 100%;
    width: 100%;
}

.image{
    width:30vw;
}

.p_image{
    width:100%;
    height:auto;
}

.p_info ul{
  list-style: none;
  /* padding-left:0; */
  
}

.p_info{
    text-align:center;
    padding-top:5%;
    background:rgba(0, 0, 0, 0.25);
}

/* skills section */

.skills.flex-container{
    display:flex;
    justify-content: center;
    margin-top:5%;
    font-size:1vw;
    text-align:center;
    color:black;
    flex-wrap:wrap;
    border-bottom:solid black 1px;
    padding-bottom:50px;
}

.skill_block{
    /* background:orange; */
    width:35vw;
    margin:0 5%;
    border: solid black 1px;
}
.skill_image{
    width:100%;
    height:auto;

}
/* 
@media (max-width:320px){

    
    .skills.flex-container{
    flex-direction:column;
    font-size:2vw;
    }
} */

/* blog sectie */

.blog_content{
    display:flex;
    justify-content: center;
    margin-top:5%;
    font-size:1vw;
    text-align:center;
    color:black;
    flex-wrap:wrap;
}

.blogs{
    width:20vw;
    margin:0 5%;
    border: solid black 1px;
}
.blog_img{
    width:100%;
    height:auto;
}